:root {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

.button:hover {
    cursor: pointer;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right, #a3a2a2, #3a72e4);
    height: 100vh;

    @media screen and (max-width: 50em) {
        flex-direction: column;
        height: 100%;
    }

}



.title-section {
    margin: 3rem 0 5rem 0;
}

.title {
    margin-bottom: 30px;
}

.title,
.text {
    font-size: 4rem;
    text-align: center;
    font-family: "Popins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.text {
    font-size: 1.5rem;
    color: #131212;
    opacity: 0.8;
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;

    @media screen and (max-width:50em) {
        width: 100%;
        margin: 2rem 0 0 0;
    }
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    width: 100%;
    max-width: 30rem;
    font-family: "Popins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    text-align: center;
    padding: 1.5rem 1rem;
    margin: 1rem 1rem 2rem 1rem;
}

input:focus {
    background-color: yellow;
    opacity: 0.8;
}

.button {
    outline: none;
    border: none;
    border-radius: 0.3rem;
    font-family: "Popins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    margin-bottom: 3rem;
}

button{
    margin: 0 1rem 2rem 1rem;
    margin-left: 35%;
}

button:hover{
    background-color: yellow;
    opacity: 0.8;
}

.qrcode-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;

    @media  and (max-width: 50rem) {
       width: 100%;
       margin: 8rem 0; 
    }
}

.qrcode{
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: space-between;
}